{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
    <h1 class="page-title">Список задач</h1>
      <form method="get" action="{% url 'task_create' %}">
        <button type="submit" class="task-btn">Добавить задачу</button>
    </form>
    <table class="task-table">
        <tr> <th>Наименование</th> </tr>
        {% for task in tasks %}
            <tr class="task"> <td><a href="{% url 'task_edit' task.id %}">{{ task.title }}</a></td> </tr>
        {% endfor %}
    </table>
  <form method="get" action="{% url 'completed_task_list' %}">
        <button type="submit" class="task-btn">Показать выполненные задачи</button>
    </form>
  </div>
{% endblock %}