{% extends 'layout/base.html' %}
{% block title %}{{ task.title }}{% endblock %}
{% block content %}
<div class="container">
    {% if task %}
        <h1 class="page-title">Редактирование</h1>
    {% else %}
        <h1 class="page-title">Создание</h1>
    {% endif %} <form method="post">
    {% csrf_token %}
    <div class="input-container">
        <label for="title">Наименование:</label>
        <br>
        <input type="text" id="title" name="title" value="{{ task.title }}" required class="input-field">
    </div>
    <div class="input-container">
        <label for="description">Подробное описание:</label>
        <br>
        <textarea id="description" name="description" required class="input-field">{{ task.description }}</textarea>
    </div>
 <div class="input-container">
      <label for="deadline">Дедлайн:</label> <br>
      <div class="input-group date" id="datetimepicker" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" name="deadline" value="{{ task.deadline|date:'Y-m-d H:i:s' }}" required>
        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>

    <button type="submit" class="task-btn">Сохранить</button>
    {% if task %}
        {% if completed %} 
            <a href="{% url 'task_delete' task.id %}" class="task-btn">Удалить</a>
        {% else %}
            <a href="{% url 'task_delete' task.id %}?next={{ request.path }}" class="task-btn">Удалить</a>
        {% endif %}
        {% if not completed %}
            <button type="submit" name="completed" class="task-btn">Выполнено</button>
        {% endif %}
    {% endif %}
    {% if completed %}
        <a href="{% url 'completed_task_list' %}" class="task-btn">Назад</a>
    {% else %}
        <a href="{% url 'task_list' %}" class="task-btn">Назад</a>
    {% endif %}
    {% if task %}
        {% if completed %} <a href="{% url 'task_return' task.id %}" class="task-btn">Вернуть</a>
        {% endif %}
    {% endif %}
</form>
</div>
    <script>
$(function () {
  $('#datetimepicker').datetimepicker({
    locale: 'ru',
    format: 'YYYY-MM-DD HH:mm:ss',
    icons: {
      time: 'fa fa-clock',
      date: 'fa fa-calendar',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-calendar-check-o',
      clear: 'fa fa-trash',
      close: 'fa fa-times'
    }
  });
});
</script>
{% endblock %}